<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="post-listing">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </div>
  {% include js.html %}
</body>

<script>
  function renderMathUsingKatex() {
    $("script[type='math/tex']").replaceWith(function () {
      var tex = $(this).text();
      return katex.renderToString(tex, { displayMode: false });
    });
    $("script[type='math/tex; mode=display']").replaceWith(function () {
      var tex = $(this).html();
      return katex.renderToString(tex.replace(/%.*/g, ''), { displayMode: true });
    });
  }
</script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"  onload="renderMathUsingKatex()"></script>
</html>
